.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 16px;
}

.team {
  width: 300px;
  background-color: gainsboro;
}

.homework{
  grid-column: 1 / -1;
}