PORT=3003
# Generate with: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
SESSION_SECRET=changeme

DB_HOST=mysql-db
DB_PORT=3306
DB_USER=auth_user
DB_PASSWORD=auth_password
COOKIE_SECURE=false
DB_NAME=analytics_db
DB_CONNECT_TIMEOUT=2000
